@media only screen and (max-width: 768px)  {
    body {
        height: 100%;
    }
    
    .nav-menu {
        position: fixed;
        z-index: 1;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #012B99;
        color: white;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    /* .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
        text-decoration: none;
    } */

    .nav-menu.active {
        left: 0;
        margin-top: 2%;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(14px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logoImage{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 83%;
        top: 11px;
    }

    .titleWebpage {
        font-size: 5rem;
    }

    /* Mensaje de bienvenida de homepage */
    .container_welcomeMessage {
        margin-bottom: 7rem;
    }

    .welcomeTitleh3 {
        font-size: 3.5rem;
    }
    
    .welcomeMessage {
        font-size: 2.8rem;
    }

    /* Tamaño barra de sort y filter */

    .btnBar {
        height: 4vh;
    }

    /* Characters */

    .filmContainer{
        width: 24rem;
        
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .filmPoster{
        max-width: 25rem;
        max-height: 20rem;
        text-align: center;  
    }

    .filmTitle{
        font-size: 1.6rem;
    }

    .filmInformation{
        font-size: 1.6rem;
    }

    .footer {
        font-size: 1.5rem;
        padding: 1.5rem 10vw;
        height: 7rem;
    }
}